MapsXamarinForms/MapsXamarinForms.Android/bin/
MapsXamarinForms/MapsXamarinForms.Android/obj/
MapsXamarinForms/MapsXamarinForms/obj/
MapsXamarinForms/MapsXamarinForms/bin/
MapsXamarinForms/MapsXamarinForms.iOS/obj/
MapsXamarinForms/MapsXamarinForms.UWP/obj/
